---
import { Picture } from "astro:assets";
import hero1 from "../assets/hero1d.png";
//@ts-expect-error
import img1Lqip from "../assets/hero1d.png?lqip";
import hero2 from "../assets/hero2d.png";
//@ts-expect-error
import img2Lqip from "../assets/hero2d.png?lqip";
const lqipUrl = `url(${img2Lqip.lqip})`;
---

<header class="bleed">
  <div class="image-wrapper">
    <Picture
      formats={["avif", "webp"]}
      src={hero1}
      loading="eager"
      alt="image for speedstart employe moving boxes"
      style={{
        backgroundImage: `url("${img1Lqip.lqip}")`,

        backgroundSize: "cover",
      }}
      class="image"
    />
    <Picture
      formats={["avif", "webp"]}
      src={hero2}
      loading="eager"
      alt="image for speedstart employe moving boxes"
      style={{
        backgroundImage: `url("${img2Lqip.lqip}")`,

        backgroundSize: "cover",
      }}
      class="image"
    />
    <Picture
      formats={["avif", "webp"]}
      src={hero1}
      loading="eager"
      alt="image for speedstart employe moving boxes"
      style={{
        backgroundImage: `url("${img1Lqip.lqip}")`,

        backgroundSize: "cover",
      }}
      class="image"
    />
  </div>
  <div class="text-container">
    <h1>السرعة و الأمان في نقل الأثاث</h1>
    <p class="first">نقل الإثاث بإسلوب أمن و فعال</p>
    <p class="main">نجعل نقل الأثاث تجربه سلسة و خالية من المتاعب</p>
    <p class="second">خدمات نقل الأثاث التي يمكنن الوثوق بها</p>
    <a href="#contactus" class="cta">إبدأ معنا الأن</a>
  </div>
</header>
<style define:vars={{ lqipUrl }}>
  header {
    position: relative;
    height: 100vh;
  }
  .text-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-secondary-light, #fff);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .first,
  .second {
    visibility: hidden;
    max-height: 0;
  }
  .text-container h1,
  p.first {
    font-style: normal;
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 700;
    line-height: normal;
  }
  .text-container h1 {
    animation: top 5s ease 0s 1 normal forwards;
  }
  p.first {
    animation: right 3s linear 5s 1 normal forwards;
  }

  @keyframes top {
    0% {
      opacity: 0;
      transform: translateY(-150px);
    }

    97% {
      opacity: 1;
      transform: translateY(0);
    }
    98% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      display: none;
      opacity: 0;
      visibility: collapse;
      max-height: 0;
    }
  }
  @keyframes right {
    0% {
      visibility: visible;
      max-height: revert;
      opacity: 0;
      transform: translateX(250px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      max-height: revert;
    }
  }

  p.main,
  p.second {
    color: var(--text-secondary-light, #fff);
    text-align: center;
    font-family: Cairo;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p.main {
    animation: bottom 5s ease 0s 1 normal forwards;
  }
  p.second {
    animation: left 3s linear 5s 1 normal forwards;
  }
  @keyframes bottom {
    0% {
      opacity: 0;
      transform: translateY(150px);
    }

    97% {
      opacity: 1;
      transform: translateY(0);
    }
    98% {
      opacity: 1;
    }
    99% {
      opacity: 0;
      visibility: collapse;
      max-height: 0;
      display: none;
      max-height: 0;
    }
    100% {
      max-height: 0;
      visibility: collapse;
      opacity: 0;
      display: none;
    }
  }
  @keyframes left {
    0% {
      visibility: visible;
      max-height: revert;
      opacity: 0;
      transform: translateX(-250px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      max-height: revert;
    }
  }
  .text-container a {
    color: white;
    text-decoration: none;
    border-radius: var(--borderRadius-sm, 8px);
    background: var(--bg-primary-accent-heavy, #f9710d);
    box-shadow: 0px 5px 30px 0px rgba(137, 153, 163, 0.24);
    display: inline-flex;
    height: 48px;
    padding: 2rem;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    animation: zoom 0.5s ease 2s 1 normal backwards;
  }
  a.cta:hover {
    transform: scale(1.15);
    background: var(--bg-secondary-accent-heavy, #006ba6);
  }
  @media screen and (max-width: var(--sm)) {
    .text-container {
      white-space: normal;
    }
  }
  @keyframes zoom {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
  picture,
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    background-image: var(--lqipUrl);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    animation: change-img-anim 30s infinite;
  }
  .image-wrapper {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
  }

  picture:nth-of-type(1) {
    animation-delay: 0s;
  }
  picture:nth-of-type(2) {
    animation-delay: 10s;
  }
  picture:nth-of-type(3) {
    animation-delay: 20s;
  }

  @keyframes change-img-anim {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* .image-wrapper::before { */
  /*   content: ""; */
  /*   position: absolute; */
  /*   top: 0; */
  /*   left: 0; */
  /*   right: 0; */
  /*   bottom: 0; */
  /*   background-color: var(--neutral-N900, #212529); */
  /*   opacity: 0.6; */
  /*   mix-blend-mode: multiply; */
  /* } */
</style>
